<md-dialog aria-label="Found Solution">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Found Solution</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      // solution //
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span ng-if="url.length>7">
      <md-button href="//url//" target="_blank" md-autofocus>
        More on Internet
      </md-button>
      <span flex></span>
      </span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
