<!DOCTYPE html>
<!-- these are Jinja2 templates -->
<html lang="en" ng-app="helpApp">
<head>
    <title>USI Help System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap.min.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <script src="/static/client.js"></script>
</head>
<body style="margin:0%;background-color:#dcdcdc">
<div ng-controller="HelpController as help" class="md-padding" id="popupContainer">
<!-- fixing github -->
<br/>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <img style="float:left; margin-left: 1%;" src="/static/logodraft.jpg" alt="Logo" height="70" width="205">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/form">Contact Us</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
          <ul class="nav navbar-nav floatright">
            <li><a href="/login">Login</a></li>

            <li><a  href="/logout">Logout</a></li>
          </ul>
            <p style="float:right;line-height:3;color:white" ng-show="username!=null">You are logged in as {{username}}</p>
        </div><!--/.nav-collapse -->

      </div>
    </nav>

<hr>

<div class="container">
<div class="row" ng-show="username!=null">
    <div class="col-md-12">
        <blockquote>

        <p>Welcome to the <b>USI Help System</b> (created by Team 'merica).  Searching our knowledge base is as
            easy as one, two, three:</p>

            <ul>
                <li><b>First</b>, choose a "category" for the search.</li>
                <li><b>Second</b>, indicate if you'd like to find a part or solve a problem.</li>
                <li><b>Third</b>, find your part or solution!</p></li>
            </ul>

        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <center><img src="/static/img/No1.png" style="width:50px;"></center><br>
        <p align="center"><b>Use category drilldown to narrow search ... </b></p>
        <p align="center">&nbsp;
            <span ng-show="chosenCats.length>0">
            [ <a ng-show="chosenCats.length>0" ng-click="help.resetCats()">Reset</a> ]
            </span>&nbsp;
        </p>
        <form action="" method="post" name="formCat">
            <ol>
                <span ng-repeat="cat in chosenCats">
                    <li>{{cat.name}}</li>
                </span>
                <span ng-show="showCatDrop">
                <li>
                    <select ng-model="category" ng-change="help.chooseCat()">
                        <option ng-repeat="tree in trees" value="{{tree.id}}">{{tree.name}}</option>
                    </select>
                </li>
                </span>
            </ol>
            <!--<input type=button value="Add New ..."
                    ng-show="username!=null" ng-click="help.openCreateCat()"
            />-->
        </form>
    </div>
    <div class="col-md-4" id="problems" name="problems">
        <center><img src="/static/img/No2.png" style="width:50px;"></center><br>
        <p align="center"><b>Are you looking for a part or solving a problem?</b></p>
        <p align="center">&nbsp;&nbsp;</p>
        <form action="" method="post" name="post">
            <span ng-show="probStart && !partStart"><p align="center" style="color:#ff0000;">
                <b>Problem / Solution Set(s) exist!</b></p></span>
            <span ng-show="partStart && !probStart"><p align="center" style="color:#ff0000;">
                <b>Part(s) exist!</b></p>
            </span>
            <span ng-show="partStart && probStart">
            <center>
                <input type="button" value="Looing for a Part" ng-click="help.findPart()">&nbsp;&nbsp;&nbsp;
                <input type="button" value="Solving a Problem" ng-click="help.solveProblem()">
            </center>
            <br><br>
            </span>
        </form>
    </div>
    <div class="col-md-4">
        <center><img src="/static/img/No3.png" style="width:50px;"></center><br>
        <p align="center" ng-show="(!probStart && !partStart) || (probStart && partStart)">
            <b>... then drill down to the part or solution!</b>
        </p>
        <p align="center" ng-show="probStart && !partStart"><b>... select a problem / find a solution!</b></p>
        <p align="center" ng-show="partStart && !probStart"><b>... continue drilling to find your part!</b></p>
        <p align="center">&nbsp;
            <span ng-show="chosenCats.length>0">
            [ <a ng-show="chosenCats.length>0" ng-click="help.resetCats()">Reset</a> ]
            </span>&nbsp;
        </p>

        <form action="" method="post" name="post" ng-show="showSubcats && ((probStart && !partStart) || (partStart && !probStart))">
            <ul>
                <span ng-repeat="cat in chosenSubcats">
                    <li>{{cat.name}}</li>
                </span>
                <span ng-show="showSubcatDrop">
                <li>
                    <select ng-model="subcat" ng-change="help.chooseSubcat()">
                        <option ng-repeat="child in children" value="{{child.id}}">{{child.name}}</option>
                    </select>
                </li>
                </span>
            </ul>
          </form>
    </div>
</div>
<div class="row" ng-show="username=='off'">
    <div class="col-md-12">
        <!--
        <p class="inset">
        Open a dialog over the app's content. Press escape or click outside to close the dialog and
        send focus back to the triggering button.
        </p>
        -->

      <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
        <md-button class="md-primary md-raised" ng-click="showAlert($event)"   >
          Alert Dialog
        </md-button>
        <md-button class="md-primary md-raised" ng-click="showConfirm($event)" >
          Confirm Dialog
        </md-button>
        <md-button class="md-primary md-raised" ng-click="showPrompt($event)"  >
          Prompt Dialog
        </md-button>
        <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
          Custom Dialog
        </md-button>
        <md-button class="md-primary md-raised" ng-click="showTabDialog($event)" >
          Tab Dialog
        </md-button>
        <md-button class="md-primary md-raised" ng-if="listPrerenderedButton" ng-click="showPrerenderedDialog($event)">
          Pre-Rendered Dialog
        </md-button>
      </div>
        <!--<p class="footer">Note: The <b>Confirm</b> dialog does not use <code>$mdDialog.clickOutsideToClose(true)</code>.</p>-->

      <div ng-if="status" id="status">
        <b layout="row" layout-align="center center" class="md-padding">
          {{status}}
        </b>
      </div>

        <!--
        <div class="dialog-demo-prerendered">
            <md-checkbox ng-model="listPrerenderedButton">Show Pre-Rendered Dialog</md-checkbox>
            <p class="md-caption">Sometimes you may not want to compile the dialogs template on each opening.</p>
            <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen custom dialog">Use full screen mode for custom dialog</md-checkbox>
            <p class="md-caption">Allows the dialog to consume all available space on small devices</p>
        </div>
        -->

      <div style="visibility: hidden">
        <div class="md-dialog-container" id="myDialog">
          <md-dialog layout-padding>
            <h2>Pre-Rendered Dialog</h2>
            <p>
              This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
              template on each opening.
              <br/><br/>
              The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
              Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
              we restore the element back into its old DOM position.
            </p>
          </md-dialog>
        </div>
      </div>

    </div>
</div>
</div>

</div>
</body>

</html>
